[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
configparser = "*"
psycopg2 = "*"
requests-futures = "*"

[dev-packages]

[scripts]
loadAll = "python3 main.py"
loadRoster = "python3 -msrc.data_loaders.Roster"
loadTeam = "python3 -msrc.data_loaders.Team"
loadGame = "python3 -msrc.data_loaders.Game"
loadTeamData = "python3 -msrc.data_loaders.TeamYearResult"

[requires]
python_version = "3.8"
